{% extends 'base.html' %}
{% load static %}

{% block title %}Sign In{% endblock title %} 
{% block css %}<link rel="stylesheet" href="{% static 'today/form.css' %}">{% endblock css %}

{% block body %}
<main class="form-signin w-100 m-auto">
    {% include "today/includes/alerts.html" %}
    <form action="{% url 'signup' %}" method="POST" class="text-center">
        {% csrf_token %}
        <img class="mb-4" src="{% static 'today/images/monitor.png' %}" alt="" width="144" height="114">
        <h1 class="h3 mb-3 fw-normal">Create your account</h1>
    
        {% for field in form %}
            <div class="form-floating mb-2">
                {{field}}
                {{field.errors}}
                <label for="floatingInput">{{field.label}}</label>
            </div>
        {% endfor %}
        
        <div class="container mb-3 mt-3">
            <p>Already have a account? <a id="signuplink" href="{% url 'signin' %}"> Sign in</a></p>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Create</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2022–2023</p>
    </form>
</main> 
{% endblock body %}

